/**************************************************
Variables
**************************************************/

:root {
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --lightGrey: hsl(217, 12%, 63%);
  --mediumGrey: hsl(216, 12%, 54%);
  --darkBlue: hsl(213, 19%, 18%);
  --veryDarkBlue: hsl(216, 12%, 8%);
}

/**************************************************
Global
**************************************************/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Overpass", sans-serif;
  background-color: var(--veryDarkBlue);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
  display: grid;
  place-items: center;
}

/**************************************************
Typography
**************************************************/

p {
  font-size: 0.9375rem; /* 15px, based off base of 16px */
}
